.catalog-card__add-to-cart {
    position: absolute;
    border-radius: 100rem;
    top: 0rem;
    left: 0rem;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $light;
    & img {
        width: 2.8rem;
        height: 2.8rem;
        object-fit: cover;
    }
}